@model DistribuidoraDoChines.Commons.Models.Telefones

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Telefones</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            Cliente
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdClienteNavigation.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Residencial)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Residencial)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Comercial)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Comercial)
        </dd>
        <dt class="col-sm-4">
            Criado em
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-4">
            Atualizado em
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Deletar" class="btn btn-danger"/> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>