@model DistribuidoraDoChines.Commons.Models.Pedidos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Pedidos</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-4">
            Cliente
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdClienteNavigation.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-4">
            Frete
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ValorFrete)
        </dd>
        <dt class="col-sm-4">
            Troco
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Troco)
        </dd>
        <dt class="col-sm-4">
            Endereço
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdClienteEnderecoNavigation.Nome)
        </dd>
        <dt class="col-sm-4">
            Tipo de pagamento
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdTiposDePagamentoNavigation.Descricao)
        </dd>
        <dt class="col-sm-4">
            Criado em
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-4">
            Atualizado em
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class="col-sm-4">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>