@model DistribuidoraDoChines.Commons.Models.PaginatedList<DistribuidoraDoChines.Commons.Models.Produtos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>

<form asp-controller="Produtos" asp-action="Index" method="get" class="form-inline">
    <div class="form-group mx-sm-8 mb-2">
        <input type="text" name="searchString" placeholder="Produto ou Categoria..." class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NomeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nome</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CategoriaSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Categoria</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PrecoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Preço</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["UnidadeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Unidade</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Status</a>
        </th>
        <th>
            Imagem
        </th>
        <th>
            Ações
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.Imagem != null)
                {
                    <a href="data:image/png;base64,@Convert.ToBase64String(item.Imagem)">Visualizar Imagem</a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
    }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Próximo
</a>