@model DistribuidoraDoChines.Commons.Models.PaginatedList<DistribuidoraDoChines.Commons.Models.Detalhes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>

<form asp-controller="Detalhes" asp-action="Index" method="get" class="form-inline">
    <div class="form-group mx-sm-8 mb-2">
        <input type="text" name="searchString" placeholder="Pedido ou Produto..." class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["PedidoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Pedido</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["ProdutoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Produto</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["ValorSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Valor</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["QuantidadeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Quantidade</a>
        </th>
        <th>
            Atalhos
        </th>
        <th>
            Ações
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdutoNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="FindPedido" asp-route-IdPedido="@item.IdPedido">Pedido</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Próximo
</a>